amqp==5.1.1
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
axios==0.4.0
backend==0.2.4.1
billiard==4.1.0
boto3==1.28.16
botocore==1.31.16
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
decouple==0.0.7
distlib==0.3.7
Django==3.2.20
django-appconf==1.0.5
django-compressor==4.4
django-sass-processor==1.2.2
django-storages==1.13.2
djongo==1.3.6
dnspython==2.4.0
exceptiongroup==1.1.2
filelock==3.12.2
gunicorn==21.2.0
h11==0.14.0
httpcore==0.17.3
idna==3.4
jmespath==1.0.1
kombu==5.3.1
libsass==0.22.0
lxml==4.9.3
markdown-it-py==3.0.0
mdurl==0.1.2
mysql-connector-python==8.0.33

packaging==23.1
Pillow==9.5.0
platformdirs==3.10.0
prompt-toolkit==3.0.39
protobuf==3.20.3
pygame==2.0.1
Pygments==2.15.1
pymongo==4.4.1
python-dateutil==2.8.2
python-decouple==3.8
python-magic==0.4.27
pytz==2023.3
rcssmin==1.1.1
redis==5.0.0
requests==2.31.0
rich==13.4.2
rjsmin==1.2.1
s3transfer==0.6.1
six==1.16.0
sniffio==1.3.0
sqlparse==0.2.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
vine==5.0.0
virtualenv==20.24.2
wcwidth==0.2.6
whitenoise==6.5.0
