{% load static %}
<link rel="stylesheet" href="{% static 'applypage.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://theunitybank.com/images/logos/header-logo.svg);">

                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        {% if user.gender ==  'male' %}
                        <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
                        {% else %}
                        <a class="edit-avatar" href="#"></a><img src="https://img.freepik.com/free-icon/woman_318-157562.jpg" alt="User"></div>
                        {% endif %}
                    <div class="user-data">
                        <h4>{{ user.username}}</h4><span>{{ user.email}}</span>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                <a class="list-group-item with-badge active" href="#" ><i class=" fa fa-th"></i>Apply for card</span></a>
                <a class="list-group-item" href="{% url 'profile' %}"><i class="fa fa-user"></i>Profile</a>
                <a class="list-group-item" href="{% url 'card_details' %}"><i class="fa fa-user"></i>Card details</a>

            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Card types</th>
                            
                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Deactivate cards</a></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#"><img src="https://www.visa.co.in/dam/VCOM/regional/ap/india/global-elements/images/in-visa-gold-card-498x280.png" alt="Product"></a>
                                    <div class="product-info">
                                        {% if card_request %}
                                            {% if card_request.status == "Pending" %}
                                            <p>Applied for Credit card</p>
                                            <div class="text-lg text-medium {% if card_request.status == 'Pending' %}text-warning{% elif card_request.status == 'Approved' %}text-success{% else %}text-danger{% endif %}">
                                                Status: {{ card_request.status }}
                                            </div>
                                            {% elif card_request.status == "Approved" %}
                                            <div class="text-lg text-medium {% if card_request.status == 'Pending' %}text-warning{% elif card_request.status == 'Approved' %}text-success{% else %}text-danger{% endif %}">
                                                Status: {{ card_request.status }}
                                            </div>
                                            <p> Credit Card Balance: {{ card_balance }}</p>
                                            {% else %}
                                            
                                            <h4 class="product-title"><a href="{% url 'user_request_card' %}">Apply again for Credit Card</a></h4>
                                            <p class="text-danger" >Your credit card request has been rejected. Apply again for Credit card</p>
                                            {% endif %}
                                           
                                        {% else %}
                                        
                                        <h4 class="product-title"><a href="{% url 'user_request_card' %}">Apply for Credit Card</a></h4>
                                        <p>No available credit cards.</p>
                                       {% endif %}

                                        
                                      
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-item">
                                    <a class="product-thumb" href="#"><img src="https://bfsi.eletsonline.com/wp-content/uploads/2019/12/Banks-issued-63-percent-higher-debit-cards-in-2019-than-in-2015-RBI-Data.jpg" alt="Product"></a>
                                    <div class="product-info">
                                        <h4 class="product-title"><a href="#">Apply for Debit Card</a></h4>
                                        <div class="text-lg text-medium text-muted">Currently Unavailable</div>
                                       
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
           
            
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
